.container {
  padding-top: 98px;
  padding-bottom: 101px;
  width: 1200px;
  margin: 0 auto;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 232, 232, 0.5);
  width: 96px;
  height: 23px;
  margin-bottom: 15px;
}
.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  display: inline;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  padding-top: 6px;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 35px;
  font-weight: 600;
  width: 404px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.feedbackList {
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.feedbackItem {
  padding: 62px 72px;
  width: 455px;
}
.user {
  margin-right: 9px;
}
.feedbackText {
  font-family: Krub;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  margin-bottom: 32px;
}
.feedbackItem:nth-child(n + 1) {
  background-color: rgba(244, 244, 244, 1);
  color: rgba(102, 108, 137, 1);
}
.feedbackItem:nth-child(n + 2) {
  background-color: rgba(9, 18, 66, 1);
  color: rgba(255, 255, 255, 1);
}
.arrowLeft {
  margin-right: 10px;
}
.userWrapper {
  display: flex;
  align-items: center;
}
.userInfo {
  width: 150px;
  margin-right: 134px;
}
.userName {
  margin: 0;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  text-align: left;
  color: rgba(9, 18, 66, 1);
}
.userCompany {
  margin: 0;
  font-family: Krub;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  color: rgba(9, 18, 66, 1);
}
.feedbackItem:nth-child(n + 2) p.userName,
.feedbackItem:nth-child(n + 2) p.userCompany {
  color: rgba(255, 255, 255, 1);
}
.rating {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
