.footer_logo {
  background-color: rgba(9, 18, 66, 1);
  padding-left: 45px;
  padding-right: 170px;
  padding-top: 43px;
  padding-bottom: 45px;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 0 13px 0;
  display: flex;
  justify-content: center;
  background-color: rgba(29, 37, 81);
}
.footer_container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
}
.footer_nav {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-left: 54px;
}
.item {
  padding-right: 150px;
}
.link {
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.63px;
  text-decoration: none;
}
.content {
  display: flex;
  width: 1230px;
  margin: 0 auto;
}
.content_container {
  background-color: rgba(9, 18, 66, 1);
  max-width: 100vw;
  margin: 0 auto;
}
.contact {
  width: 319px;
  padding-left: 45px;
  margin-right: 117px;
}
.information {
  margin-bottom: 35px;
  margin-top: 39px;
  color: rgba(232, 232, 232, 1);
  font-family: Krub;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.details {
  list-style-type: none;
  padding: 0;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 0 0 15px;
  margin-right: 120px;
  height: 200px;
  color: rgba(255, 255, 255, 1);
}
.navigation_item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.navigation_logo {
  margin-right: 14px;
}
.navigation_link {
  color: rgba(255, 255, 255, 1);
  font-family: Krub;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.9px;
  text-align: left;

  text-decoration: none;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  height: 200px;
  color: rgba(255, 255, 255, 1);
}
.social {
  background: white;
}
