.container {
  padding-top: 95px;
  width: 1200px;
  margin: 0 auto;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 23px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}
.header {
  font-size: 35px;
  font-weight: 600;
  width: 310px;
  letter-spacing: 0em;
  margin: 0 auto;
  margin-bottom: 40px;
}
.newsList {
  border-top: 1px solid rgba(214, 214, 214, 1);
  list-style-type: none;
  padding: 30px 0 0;
}
.newsElement {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
}
.newsDescription {
  border-left: 1px solid rgba(214, 214, 214, 1);
}
.newsDate {
  display: flex;
  flex-direction: column;
}
.transportingMoreButton {
  color: rgba(255, 255, 255, 1);
  width: 194px;
  height: 60px;
  background-image: url('../../images/more-button.png');
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}
